# Source code
*.ts
!*.d.ts
tsconfig.json

# Development files
.vscode/
.idea/
.git/
.github/
.gitignore
.npmignore

# Test files
test/
coverage/
.nyc_output/
*.test.js
*.spec.js

# Miscellaneous
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
.DS_Store
